@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html {
  @apply h-full bg-12teal p-2;
}

a {
  @apply underline;
}

h1, .h1 {
  @apply text-4xl;
}

h2, .h2 {
  @apply text-3xl;
}

h3, .h3 {
  @apply text-2xl;
}